/* --------------------------------------------------------------------------

    Main

   -------------------------------------------------------------------------- */
.l-mainContents {
  padding: 40px 0 80px;
  font-family: $fontMontserrat;
  @include tab {
    padding: 60px 0 110px;
    .l-contentsInner.newsArticle {
      max-width: 750px;
    }
  }
  > *:first-child {
    margin-top: 0;
  }
}