/* --------------------------------------------------------------------------

    Main

   -------------------------------------------------------------------------- */
.l-main {
  &.recruit {
    padding: 40px 0 80px;
    background: url(/common/img/recruit/bg_geometry.png.webp) repeat top left;
    @include tab {
      padding: 110px 0;
    }
  }
}
.l-mainContents {
  padding: 40px 0 80px;
  font-family: $fontMontserrat;
  @include tab {
    padding: 60px 0 110px;
    .l-contentsInner.newsArticle {
      max-width: 750px;
    }
  }
  > *:first-child {
    margin-top: 0;
  }
}