/* --------------------------------------------------------------------------

    Structure

   -------------------------------------------------------------------------- */
.l-wrapper {
  min-width: $viewMinWidth;
}

.l-contentsInner {
  margin: 0 auto;
  padding: 0 15px;
  max-width: $contentsWidth;
  @include tab {
    padding: 0 10px;
  }
}
