/* --------------------------------------------------------------------------

  Image

   -------------------------------------------------------------------------- */
/* Single
   ========================================================================== */
.c-imgSingle {
  margin: 15px auto 0;
  display: block;
  width: 100%;
  @include tab {
    margin-top: 30px;
  }

  img {
    margin: 0 auto;
  }
}

/* Horizontal
   ========================================================================== */
.c-imgHorizontal {
  margin: calc(30 / 720 * 100vw) auto 0;
  display: flex;
  flex-direction: column-reverse;
  gap: 18px;

  @include tab {
    margin-top: 30px;
    width: 100%;
    flex-direction: row-reverse;
    gap: 50px;
  }

  & + & {
    margin-top: 70px;
    @include tab {
      margin-top: 60px;
    }
  }

  &-txtArea {
    @include tab {
      margin-top: 0;
      flex: 1;
    }
    > *:first-child {
      margin-top: 0;
    }
  }
  &-imgArea {
    @include tab {
      width: 40%;
      max-width: 445px;
    }
  }
  &.imgRight {
    @include tab {
      flex-direction: row;
    }
  }
}