/* --------------------------------------------------------------------------

    Layout

   -------------------------------------------------------------------------- */
/* extend
   ========================================================================== */
%flexStyle {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
%flexStyleTab {
  @include tab {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

/* .c-columnTwo
   ========================================================================== */
.c-columnTwo {
  @extend %flexStyleTab;

  > .c-column-item,
  > li {
    @include tab {
      gap: 60px 50px;

      &.c-dl {
        gap: 30px 45px;
        width: calc((100% - 45px) / 2);
      }
    }
    > *:first-child{
      margin-top: 0;
    }
  }
}

/* .c-columnThree
   ========================================================================== */
.c-columnThree {
  @extend %flexStyleTab;
  @include tab {
    gap: 60px 30px;
  }

  > .c-column-item,
  > li {
    @include tab {
      width:  calc((100% - 30px *2) / 3);
    }
    > *:first-child {
      margin-top: 0;
    }
  }
}

/* .c-columnFour (1 column and 2 columns for sp)
   ========================================================================== */
.c-columnFour {
  @extend %flexStyle;
  gap: 30px 20px;
  @include tab {
    gap: 60px 20px;
  }

  > .c-column-item,
  > li {
    width: calc((100% - 20px) / 2);

    @include tab {
      width:  calc((100% - 20px *3) / 4);
    }
    > *:first-child {
      margin-top: 0;
    }
  }

  &ToOne {
    @extend %flexStyleTab;
    @include tab {
      gap: 60px 50px;
    }

    > .c-column-item,
    > li {
      > *:first-child{
        margin-top: 0;
      }
    }
  }
}

/* c-lytWorks
   ========================================================================== */
.c-lytWorks {
  display: flex;
  flex-direction: column-reverse;
  &-name {
    font-size: $fontSize16;
    text-align: center;
  }
  &-img {
    margin-bottom: 10px;
  }
  & + & {
    @include tabMin {
      margin-top: 40px;
    }
  }
}